@model IEnumerable<MiPrimerProyectoASP.Models.ProductoProveedor>

@{
    ViewBag.Title = "DetalleProveedorProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var query = Model;
}

<h2> Detalle producto proveedor</h2>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Valor unitario</th>
            <th>Proveedor</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.nombreProducto)</td>
                    <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                    <td>@Html.DisplayFor(modelItem => item.precioUnitario)</td>
                    <td>@Html.DisplayFor(modelItem => item.nombreProveedor)</td>
                    <td>@Html.DisplayFor(modelItem => item.telefonoProveedor)</td>
                </tr>
            }
        }
    </tbody>
</table>
