@model List<MiPrimerProyectoASP.Models.producto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte producto</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <div class="container">
            <h2> Reporte Productos </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio unitario</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var element in Model)
                    {
                        <tr>
                            <td>@element.nombre</td>
                            <td>@element.percio_unitario</td>
                            <td>@element.descripcion</td>
                            <td>@element.cantidad</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>



